{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "camelcase": 0,
        "indent": [2, 4, {"SwitchCase": 1}],
        "no-use-before-define": 0,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "func-names": 0,
        "new-cap": 0,
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "no-console": 0,
        "no-nested-ternary": 0,
      "block-scoped-var": 0,
      "global-require": 0,
      "no-confusing-arrow": 0,
      "react/jsx-indent-props": [2, 4],
      "react/jsx-boolean-value": 0,
      "react/jsx-indent": [2, 4],
      "react/jsx-closing-bracket-location": [2, {"location": "after-props"}]
    },
    "env": {
        "jquery": true
    }
}
